<h2>지역별 평당가 상/하위 25개 크롤링</h2>

In [207]:
import requests # html을 url로 요청
import pandas as pd # DataFrame으로 변환
from bs4 import BeautifulSoup # 크롤링
import re # 문자열 처리

def crawling_ranking(region, order):
    if order == 1:
        o = 'd' # 상위 25개
    elif order == -1:
        o = 'a' # 하위 25개
    else:
        print("Input the way to order")
    url = f"http://buking.kr/rank.php?m=md&si={region}&gi=1&st=m{o}" # f-string으로 변수와 문자열 병합
    response = requests.get(url)

    if response.status_code == 200: # url에 정상적으로 연결됨
        html_content = response.text
        soup = BeautifulSoup(html_content, 'html.parser') # url에 해당하는 html 정보를 가져옴

        r_rank = []

        for rank in soup.find_all('tr', class_='tr2'): # find_all : 태그와 클래스, 이하 전체
            # 시,구
            g = rank.find('font', style='font-size:;color:#777').get_text(strip=True) # find : 태그와 클래스, 처음 1개만, get_text : 문자열로 가져옴.
            # 동
            d = rank.find('a').get_text(strip=True)
            # 평당가
            p = rank.find('td', class_='td2rp').get_text().split('만')[0] # 금액에 해당하는 태그가 따로 없어 전체를 가져온 후, 필요한 부분만 사용.
            r = g+" "+d # 지역 주소
            r_rank.append({'지역': r, '평당가(만원)': p}) # list(dict)의 형태
        
        if order == -1: # 상위와 하위 리스트의 합병을 위해 하위 리스트의 정렬을 금액의 내림차순으로 변환
            r_rank.reverse()
                
        df = pd.DataFrame(r_rank) # 크롤링한 정보를 데이터프레임으로 변환 for 전처리
        return df
            
    else:
        print(f"Failed to retrieve the page. Status code: {response.status_code}") # 해당 url을 찾지 못하거나 가져오지 못했을 때 에러 메세지 반환

In [208]:
seoul_top = crawling_ranking('서울', 1) # 서울 상위 23개
seoul_top

              지역 평당가(만원)
0     서울 강남구 개포동    6556
1     서울 서초구 반포동    6403
2    서울 강남구 압구정동    6335
3     서울 서초구 잠원동    6167
4     서울 종로구 교북동    5852
5     서울 송파구 잠실동    5605
6     서울 강남구 일원동    5504
7     서울 강남구 수서동    5366
8     서울 종로구 홍파동    5254
9      서울 종로구 평동    5142
10    서울 용산구 신계동    5024
11    서울 강남구 삼성동    4952
12    서울 강남구 도곡동    4938
13   서울 용산구 서빙고동    4922
14    서울 강남구 청담동    4893
15    서울 마포구 아현동    4803
16  서울 성동구 성수동1가    4709
17  서울 용산구 용산동5가    4657
18    서울 마포구 용강동    4644
19    서울 강남구 자곡동    4611
20    서울 송파구 신천동    4608
21    서울 용산구 보광동    4569
22  서울 서대문구 북아현동    4545
23    서울 용산구 한남동    4532
24    서울 용산구 이촌동    4447

In [209]:
seoul_bot = crawling_ranking('서울', -1) # 서울 하위 25개
seoul_bot

              지역 평당가(만원)
0     서울 금천구 시흥동    1697
1     서울 강서구 화곡동    1672
2     서울 종로구 신영동    1672
3     서울 은평구 신사동    1671
4     서울 구로구 개봉동    1662
5     서울 종로구 혜화동    1645
6      서울 강북구 번동    1645
7      서울 구로구 항동    1630
8     서울 광진구 중곡동    1605
9     서울 구로구 오류동    1545
10    서울 도봉구 도봉동    1543
11    서울 도봉구 방학동    1481
12    서울 은평구 갈현동    1464
13    서울 도봉구 쌍문동    1424
14    서울 강북구 수유동    1366
15   서울 구로구 가리봉동    1363
16    서울 강북구 우이동    1294
17    서울 은평구 역촌동    1288
18    서울 은평구 구산동    1284
19   서울 중구 장충동1가    1231
20    서울 성동구 사근동    1207
21    서울 종로구 행촌동    1174
22  서울 성북구 안암동3가    1131
23     서울 구로구 궁동    1031
24   서울 중구 장충동2가     853

In [210]:
busan_top = crawling_ranking('부산', 1) # 부산 상위 25개
busan_top

              지역 평당가(만원)
0    부산 부산진구 범전동    2663
1     부산 수영구 남천동    2177
2     부산 해운대구 우동    2019
3     부산 동래구 칠산동    1989
4     부산 동래구 명륜동    1738
5     부산 해운대구 중동    1585
6   부산 서구 서대신동1가    1548
7     부산 수영구 수영동    1483
8     부산 수영구 민락동    1471
9     부산 금정구 장전동    1460
10    부산 동래구 사직동    1388
11     부산 남구 용호동    1334
12     부산 남구 대연동    1310
13    부산 동래구 복천동    1235
14   부산 중구 보수동3가    1225
15    부산 연제구 거제동    1205
16    부산 연제구 연산동    1189
17   부산 서구 충무동1가    1189
18   부산 중구 부평동4가    1188
19    부산 동래구 수안동    1186
20   부산 해운대구 재송동    1160
21   부산 서구 토성동1가    1150
22    부산 수영구 광안동    1147
23  부산 영도구 대교동1가    1127
24    부산 해운대구 좌동    1120

In [211]:
busan_bot = crawling_ranking('부산', -1) # 부산 하위 25개
busan_bot

              지역 평당가(만원)
0   부산 서구 동대신동3가     670
1   부산 영도구 영선동3가     670
2      부산 금정구 서동     670
3   부산 영도구 대교동2가     664
4     부산 사상구 학장동     658
5     부산 사하구 다대동     615
6     부산 금정구 금사동     604
7     부산 사하구 신평동     598
8    부산 서구 충무동2가     594
9     부산 영도구 청학동     581
10    부산 사하구 감천동     571
11    부산 영도구 동삼동     569
12    부산 사하구 장림동     559
13     부산 중구 영주동     552
14    부산 강서구 지사동     550
15    부산 사상구 모라동     547
16   부산 중구 대청동4가     518
17   부산 해운대구 반송동     503
18    부산 강서구 신호동     486
19  부산 영도구 봉래동5가     439
20   부산 서구 아미동2가     386
21   부산 중구 부평동2가     283
22  부산 영도구 봉래동3가     141
23  부산 영도구 신선동2가     112
24   부산 중구 보수동1가     105

<h2>지역별 교통 혼잡 빈도 강도 추가</h2>

In [212]:
# 혼잡강도(행정구역)				
# - 기준년도 : 2021년				
# - 기간 : 평일				
# - 지표 : 혼잡빈도강도				
# - 권역 : 읍면동				
# - 권역범위 : 서울특별시 시군구 / 읍면동				
# - 도로등급 : 고속도로,도시고속도로,일반국도,특별광역시도,국가지원지방도,지방도,시군도,연결로	
pd.read_excel('C:\Congestindex(seoul).xlsx')

       ZONE ID     시도  시군구   읍면동  혼잡빈도강도
0          NaN    NaN  NaN   NaN     NaN
1    1101053.0  서울특별시  종로구   사직동    88.0
2    1101054.0  서울특별시  종로구   삼청동    42.0
3    1101055.0  서울특별시  종로구   부암동    26.0
4    1101056.0  서울특별시  종로구   평창동    69.0
..         ...    ...  ...   ...     ...
416  1125070.0  서울특별시  강동구  둔촌1동    23.0
417  1125071.0  서울특별시  강동구  둔촌2동    45.0
418  1125072.0  서울특별시  강동구  암사1동    64.0
419  1125073.0  서울특별시  강동구  천호2동    63.0
420  1125074.0  서울특별시  강동구    길동    73.0

[421 rows x 5 columns]

In [213]:
# 서울 지역별 평당가 순위 및 교통혼잡강도

df_traffic = pd.read_excel('C:\Congestindex(seoul).xlsx')
df_traffic = df_traffic.dropna()
new_col = []
for i in list(df_traffic['읍면동']): # 평당가 데이터 프레임과 병합을 위해 양식 통일
    for j in range(1, 10):
        if str(j) in i:
            new_col.append(i.split(str(j))[0]+'동')
            break
    else:
        new_col.append(i)
df_traffic = df_traffic.copy()
df_traffic['읍면동'] = new_col

# 같은 동 데이터는 평균값으로 통일 후 중복 데이터 제거
grouped_traffic = df_traffic.groupby('읍면동')['혼잡빈도강도'].mean().round(1)
df_traffic['혼잡빈도강도'] = df_traffic['읍면동'].map(grouped_traffic)
df_traffic = df_traffic.drop_duplicates(subset=['읍면동'], keep='first')

# 평당가 데이터 프레임과 병합을 위해 양식 통일
new_col = []
for i in list(df_traffic['읍면동']):
    new_col.append('서울'+" "+df_traffic.loc[df_traffic['읍면동'] == i, '시군구'].iloc[0]+" "+i)
df_traffic['지역'] = new_col
df_traffic = df_traffic.drop(columns=['ZONE ID','시군구','읍면동'])
df_traffic = df_traffic[['지역'] + ['혼잡빈도강도']]

# 상위 25개 내 missing value를 상위 25개 평균으로 대체
merged_df_st_top = pd.merge(seoul_top, df_traffic, on='지역', how='left')
avg = merged_df_st_top['혼잡빈도강도'].mean()
merged_df_st_top['혼잡빈도강도'] = merged_df_st_top['혼잡빈도강도'].fillna(avg)
merged_df_st_top['혼잡빈도강도'] = merged_df_st_top['혼잡빈도강도'].round(1)

# 하위 25개 내 missing value를 하위 25개 평균으로 대체
merged_df_st_bot = pd.merge(seoul_bot, df_traffic, on='지역', how='left')
avg = merged_df_st_bot['혼잡빈도강도'].mean()
merged_df_st_bot['혼잡빈도강도'] = merged_df_st_bot['혼잡빈도강도'].fillna(avg)
merged_df_st_bot['혼잡빈도강도'] = merged_df_st_bot['혼잡빈도강도'].round(1)

# 상하위 25개 통합
seoul = pd.concat([merged_df_st_top,merged_df_st_bot], ignore_index=True)
seoul

              지역 평당가(만원)  혼잡빈도강도
0     서울 강남구 개포동    6556    74.0
1     서울 서초구 반포동    6403    56.8
2    서울 강남구 압구정동    6335    65.0
3     서울 서초구 잠원동    6167    70.0
4     서울 종로구 교북동    5852    66.0
5     서울 송파구 잠실동    5605    49.6
6     서울 강남구 일원동    5504    50.5
7     서울 강남구 수서동    5366    71.0
8     서울 종로구 홍파동    5254    66.0
9      서울 종로구 평동    5142    66.0
10    서울 용산구 신계동    5024    66.0
11    서울 강남구 삼성동    4952    66.0
12    서울 강남구 도곡동    4938    43.0
13   서울 용산구 서빙고동    4922    58.0
14    서울 강남구 청담동    4893    72.0
15    서울 마포구 아현동    4803    91.0
16  서울 성동구 성수동1가    4709    66.0
17  서울 용산구 용산동5가    4657    66.0
18    서울 마포구 용강동    4644    87.0
19    서울 강남구 자곡동    4611    66.0
20    서울 송파구 신천동    4608    66.0
21    서울 용산구 보광동    4569    63.0
22  서울 서대문구 북아현동    4545   100.0
23    서울 용산구 한남동    4532    31.0
24    서울 용산구 이촌동    4447    74.5
25    서울 금천구 시흥동    1697    45.8
26    서울 강서구 화곡동    1672    30.8
27    서울 종로구 신영동    1672    50.2
28    서울 은평구 신사동    1671    65.5
29    서울 구로구 개봉동    1662    36.3
30    서울 종로구 혜화동    1645    45.0
31     서울 강북구 번동    1645    40.3
32     서울 구로구 항동    1630    26.0
33    서울 광진구 중곡동    1605    80.2
34    서울 구로구 오류동    1545    70.5
35    서울 도봉구 도봉동    1543    34.0
36    서울 도봉구 방학동    1481    49.0
37    서울 은평구 갈현동    1464    77.0
38    서울 도봉구 쌍문동    1424    50.2
39    서울 강북구 수유동    1366    46.0
40   서울 구로구 가리봉동    1363    61.0
41    서울 강북구 우이동    1294    37.0
42    서울 은평구 역촌동    1288    71.0
43    서울 은평구 구산동    1284    56.0
44   서울 중구 장충동1가    1231    50.2
45    서울 성동구 사근동    1207    33.0
46    서울 종로구 행촌동    1174    50.2
47  서울 성북구 안암동3가    1131    50.2
48     서울 구로구 궁동    1031    50.2
49   서울 중구 장충동2가     853    50.2

In [214]:
# 혼잡강도(행정구역)				
# - 기준년도 : 2021년				
# - 기간 : 평일				
# - 지표 : 혼잡빈도강도				
# - 권역 : 읍면동				
# - 권역범위 : 부산광역시 시군구 / 읍면동				
# - 도로등급 : 고속도로,도시고속도로,일반국도,특별광역시도,국가지원지방도,지방도,시군도,연결로	
pd.read_excel('C:\Congestindex(busan).xlsx')

       ZONE ID     시도  시군구  읍면동  혼잡빈도강도
0          NaN    NaN  NaN  NaN     NaN
1    2101051.0  부산광역시   중구  중앙동    55.0
2    2101052.0  부산광역시   중구  동광동    79.0
3    2101053.0  부산광역시   중구  대청동    46.0
4    2101054.0  부산광역시   중구  보수동    55.0
..         ...    ...  ...  ...     ...
193  2131011.0  부산광역시  기장군  기장읍    36.0
194  2131012.0  부산광역시  기장군  장안읍    31.0
195  2131013.0  부산광역시  기장군  정관읍    21.0
196  2131031.0  부산광역시  기장군  일광면    50.0
197  2131033.0  부산광역시  기장군  철마면    31.0

[198 rows x 5 columns]

In [215]:
# 부산 지역별 평당가 순위 및 교통혼잡강도
df_traffic = pd.read_excel('C:\Congestindex(busan).xlsx')
df_traffic = df_traffic.dropna()
new_col = []
for i in list(df_traffic['읍면동']): # 평당가 데이터 프레임과 병합을 위해 양식 통일
    for j in range(1, 10):
        if str(j) in i:
            new_col.append(i.split(str(j))[0]+'동')
            break
    else:
        new_col.append(i)
df_traffic = df_traffic.copy()
df_traffic['읍면동'] = new_col

# 같은 동 데이터는 평균값으로 통일 후 중복 데이터 제거
grouped_traffic = df_traffic.groupby('읍면동')['혼잡빈도강도'].mean().round(1)
df_traffic['혼잡빈도강도'] = df_traffic['읍면동'].map(grouped_traffic)
df_traffic = df_traffic.drop_duplicates(subset=['읍면동'], keep='first')

# 평당가 데이터 프레임과 병합을 위해 양식 통일
new_col = []
for i in list(df_traffic['읍면동']):
    new_col.append('부산'+" "+df_traffic.loc[df_traffic['읍면동'] == i, '시군구'].iloc[0]+" "+i)
df_traffic['지역'] = new_col
df_traffic = df_traffic.drop(columns=['ZONE ID','시군구','읍면동'])
df_traffic = df_traffic[['지역'] + ['혼잡빈도강도']]

# 상위 25개 내 missing value를 상위 25개 평균으로 대체
merged_df_bt_top = pd.merge(busan_top, df_traffic, on='지역', how='left')
avg = merged_df_bt_top['혼잡빈도강도'].mean()
merged_df_bt_top['혼잡빈도강도'] = merged_df_bt_top['혼잡빈도강도'].fillna(avg)
merged_df_bt_top['혼잡빈도강도'] = merged_df_bt_top['혼잡빈도강도'].round(1)

# 하위 25개 내 missing value를 하위 25개 평균으로 대체
merged_df_bt_bot = pd.merge(busan_bot, df_traffic, on='지역', how='left')
avg = merged_df_bt_bot['혼잡빈도강도'].mean()
merged_df_bt_bot['혼잡빈도강도'] = merged_df_bt_bot['혼잡빈도강도'].fillna(avg)
merged_df_bt_bot['혼잡빈도강도'] = merged_df_bt_bot['혼잡빈도강도'].round(1)

# 상하위 25개 통합
busan = pd.concat([merged_df_bt_top,merged_df_bt_bot], ignore_index=True)
busan

              지역 평당가(만원)  혼잡빈도강도
0    부산 부산진구 범전동    2663    44.9
1     부산 수영구 남천동    2177    52.5
2     부산 해운대구 우동    2019    40.3
3     부산 동래구 칠산동    1989    44.9
4     부산 동래구 명륜동    1738    57.0
5     부산 해운대구 중동    1585    21.5
6   부산 서구 서대신동1가    1548    44.9
7     부산 수영구 수영동    1483    37.0
8     부산 수영구 민락동    1471    42.0
9     부산 금정구 장전동    1460    32.0
10    부산 동래구 사직동    1388    45.7
11     부산 남구 용호동    1334    38.2
12     부산 남구 대연동    1310    57.2
13    부산 동래구 복천동    1235    44.9
14   부산 중구 보수동3가    1225    44.9
15    부산 연제구 거제동    1205    73.5
16    부산 연제구 연산동    1189    42.4
17   부산 서구 충무동1가    1189    44.9
18   부산 중구 부평동4가    1188    44.9
19    부산 동래구 수안동    1186    44.9
20   부산 해운대구 재송동    1160    28.5
21   부산 서구 토성동1가    1150    44.9
22    부산 수영구 광안동    1147    68.5
23  부산 영도구 대교동1가    1127    44.9
24    부산 해운대구 좌동    1120    37.5
25  부산 서구 동대신동3가     670    38.5
26  부산 영도구 영선동3가     670    38.5
27     부산 금정구 서동     670    59.0
28  부산 영도구 대교동2가     664    38.5
29    부산 사상구 학장동     658    40.0
30    부산 사하구 다대동     615    20.0
31    부산 금정구 금사동     604    38.5
32    부산 사하구 신평동     598    26.5
33   부산 서구 충무동2가     594    38.5
34    부산 영도구 청학동     581    18.0
35    부산 사하구 감천동     571    30.5
36    부산 영도구 동삼동     569    25.0
37    부산 사하구 장림동     559    33.0
38     부산 중구 영주동     552    41.5
39    부산 강서구 지사동     550    38.5
40    부산 사상구 모라동     547    51.5
41   부산 중구 대청동4가     518    38.5
42   부산 해운대구 반송동     503    78.5
43    부산 강서구 신호동     486    38.5
44  부산 영도구 봉래동5가     439    38.5
45   부산 서구 아미동2가     386    38.5
46   부산 중구 부평동2가     283    38.5
47  부산 영도구 봉래동3가     141    38.5
48  부산 영도구 신선동2가     112    38.5
49   부산 중구 보수동1가     105    38.5

<h2>지역별 관광 목적 유입 인구 통행량 추가</h2>

In [216]:
# 핫플레이스 분석
# 분석지역 : 1100000 (서울특별시)			
# 기준년도 : 2020년
# 기간 : Weekends			
# 통행목적 : Tour			
# 성별 : 여성	
pd.read_csv('C:\hp(seoul).csv')

                      행정구역명      통행량
0             서울특별시 마포구 서교동  84352.0
1            서울특별시 강남구 역삼1동  78122.0
2            서울특별시 영등포구 여의동  62858.0
3     서울특별시 종로구 종로1·2·3·4가동  59396.0
4           서울특별시 영등포구 영등포동  58450.0
...                     ...      ...
1270          서울특별시 강서구 공항동    880.0
1271       서울특별시 노원구 상계3·4동    864.2
1272         서울특별시 강동구 둔촌1동    790.3
1273          서울특별시 종로구 평창동    779.2
1274          서울특별시 서초구 내곡동    555.3

[1275 rows x 2 columns]

In [217]:
# 서울 지역별 평당가 순위, 교통혼잡강도, 유입인구 통행량

df_hp = pd.read_csv('C:\hp(seoul).csv')
new_col = []
for i in list(df_hp['행정구역명']): # 평당가 데이터 프레임과 병합을 위해 양식 통일
    g = re.sub('[^가-힣]', '', i.split(' ')[-1])
    if i.split(' ')[0] != i.split(' ')[-1]:
        new_col.append('서울'+' '+i.split(' ')[1]+' '+g)
    else:
        new_col.append('서울'+' '+g)
df_hp = df_hp.copy()
df_hp['지역'] = new_col
df_hp = df_hp.drop(columns=['행정구역명'])

# 같은 동 데이터는 평균값으로 통일 후 중복 데이터 제거
grouped_hp = df_hp.groupby('지역')['통행량'].mean().round(1)
df_hp['통행량'] = df_hp['지역'].map(grouped_hp)
df_hp = df_hp.drop_duplicates(subset=['지역'], keep='first')
df_hp = df_hp[['지역'] + ['통행량']]

# 상위 25개 내 missing value를 상위 25개 평균으로 대체
merged_df_sh_top = pd.merge(merged_df_st_top, df_hp, on='지역', how='left')
avg = merged_df_sh_top['통행량'].mean()
merged_df_sh_top['통행량'] = merged_df_sh_top['통행량'].fillna(avg)

# 하위 25개 내 missing value를 하위 25개 평균으로 대체
merged_df_sh_bot = pd.merge(merged_df_st_bot, df_hp, on='지역', how='left')
avg = merged_df_sh_bot['통행량'].mean()
merged_df_sh_bot['통행량'] = merged_df_sh_bot['통행량'].fillna(avg)

# 상하위 25개 통합
seoul = pd.concat([merged_df_sh_top,merged_df_sh_bot], ignore_index=True)
seoul['통행량'] = seoul['통행량'].round(1)
seoul

              지역 평당가(만원)  혼잡빈도강도      통행량
0     서울 강남구 개포동    6556    74.0   2139.5
1     서울 서초구 반포동    6403    56.8   9634.6
2    서울 강남구 압구정동    6335    65.0  13260.7
3     서울 서초구 잠원동    6167    70.0   6230.2
4     서울 종로구 교북동    5852    66.0   7022.7
5     서울 송파구 잠실동    5605    49.6   9855.5
6     서울 강남구 일원동    5504    50.5   2041.4
7     서울 강남구 수서동    5366    71.0   3884.2
8     서울 종로구 홍파동    5254    66.0   7022.7
9      서울 종로구 평동    5142    66.0   7022.7
10    서울 용산구 신계동    5024    66.0   7022.7
11    서울 강남구 삼성동    4952    66.0  13841.1
12    서울 강남구 도곡동    4938    43.0   6760.7
13   서울 용산구 서빙고동    4922    58.0   4341.7
14    서울 강남구 청담동    4893    72.0  12483.4
15    서울 마포구 아현동    4803    91.0   6205.5
16  서울 성동구 성수동1가    4709    66.0   7022.7
17  서울 용산구 용산동5가    4657    66.0   7022.7
18    서울 마포구 용강동    4644    87.0   5459.1
19    서울 강남구 자곡동    4611    66.0   7022.7
20    서울 송파구 신천동    4608    66.0   7022.7
21    서울 용산구 보광동    4569    63.0   2255.7
22  서울 서대문구 북아현동    4545   100.0   8162.5
23    서울 용산구 한남동    4532    31.0  10391.3
24    서울 용산구 이촌동    4447    74.5   2438.9
25    서울 금천구 시흥동    1697    45.8   2469.3
26    서울 강서구 화곡동    1672    30.8   5740.8
27    서울 종로구 신영동    1672    50.2   4345.8
28    서울 은평구 신사동    1671    65.5   2305.8
29    서울 구로구 개봉동    1662    36.3   4055.2
30    서울 종로구 혜화동    1645    45.0  12933.0
31     서울 강북구 번동    1645    40.3   4343.7
32     서울 구로구 항동    1630    26.0   4345.8
33    서울 광진구 중곡동    1605    80.2   4023.7
34    서울 구로구 오류동    1545    70.5   2625.2
35    서울 도봉구 도봉동    1543    34.0   4197.2
36    서울 도봉구 방학동    1481    49.0   3221.4
37    서울 은평구 갈현동    1464    77.0   3709.8
38    서울 도봉구 쌍문동    1424    50.2   3806.0
39    서울 강북구 수유동    1366    46.0   4887.3
40   서울 구로구 가리봉동    1363    61.0   2407.4
41    서울 강북구 우이동    1294    37.0   4612.1
42    서울 은평구 역촌동    1288    71.0   3395.7
43    서울 은평구 구산동    1284    56.0   2291.8
44   서울 중구 장충동1가    1231    50.2   4345.8
45    서울 성동구 사근동    1207    33.0   7199.1
46    서울 종로구 행촌동    1174    50.2   4345.8
47  서울 성북구 안암동3가    1131    50.2   4345.8
48     서울 구로구 궁동    1031    50.2   4345.8
49   서울 중구 장충동2가     853    50.2   4345.8

In [218]:
# 핫플레이스 분석
# 분석지역 : 2100000 (부산광역시)			
# 기준년도 : 2020년
# 기간 : Weekends			
# 통행목적 : Tour			
# 성별 : 여성	
pd.read_csv('C:\hp(busan).csv')

               행정구역명      통행량
0      부산광역시 기장군 기장읍  63212.0
1    부산광역시 부산진구 부전2동  47555.0
2     부산광역시 해운대구 우2동  46306.0
3       부산광역시 중구 남포동  24054.0
4    부산광역시 부산진구 부전1동  24022.0
..               ...      ...
610    부산광역시 기장군 철마면    202.8
611    부산광역시 강서구 녹산동    193.2
612   부산광역시 강서구 가덕도동    179.5
613    부산광역시 강서구 가락동    143.2
614    부산광역시 강서구 강동동     95.1

[615 rows x 2 columns]

In [219]:
# 서울 지역별 평당가 순위, 교통혼잡강도, 유입인구 통행량

df_hp = pd.read_csv('C:\hp(busan).csv')
new_col = []
for i in list(df_hp['행정구역명']): # 평당가 데이터 프레임과 병합을 위해 양식 통일
    g = re.sub('[^가-힣]', '', i.split(' ')[-1])
    if i.split(' ')[0] != i.split(' ')[-1]:
        new_col.append('부산'+' '+i.split(' ')[1]+' '+g)
    else:
        new_col.append('부산'+' '+g)
df_hp = df_hp.copy()
df_hp['지역'] = new_col
df_hp = df_hp.drop(columns=['행정구역명'])

# 같은 동 데이터는 평균값으로 통일 후 중복 데이터 제거
grouped_hp = df_hp.groupby('지역')['통행량'].mean().round(1)
df_hp['통행량'] = df_hp['지역'].map(grouped_hp)
df_hp = df_hp.drop_duplicates(subset=['지역'], keep='first')
df_hp = df_hp[['지역'] + ['통행량']]

# 상위 25개 내 missing value를 상위 25개 평균으로 대체
merged_df_bh_top = pd.merge(merged_df_bt_top, df_hp, on='지역', how='left')
avg = merged_df_bh_top['통행량'].mean()
merged_df_bh_top['통행량'] = merged_df_bh_top['통행량'].fillna(avg)

# 하위 25개 내 missing value를 하위 25개 평균으로 대체
merged_df_bh_bot = pd.merge(merged_df_bt_bot, df_hp, on='지역', how='left')
avg = merged_df_bh_bot['통행량'].mean()
merged_df_bh_bot['통행량'] = merged_df_bh_bot['통행량'].fillna(avg)

# 상하위 25개 통합
busan = pd.concat([merged_df_bh_top,merged_df_bh_bot], ignore_index=True)
busan['통행량'] = busan['통행량'].round(1)
busan

              지역 평당가(만원)  혼잡빈도강도     통행량
0    부산 부산진구 범전동    2663    44.9  4516.9
1     부산 수영구 남천동    2177    52.5  4439.2
2     부산 해운대구 우동    2019    40.3  9739.8
3     부산 동래구 칠산동    1989    44.9  4516.9
4     부산 동래구 명륜동    1738    57.0  9340.4
5     부산 해운대구 중동    1585    21.5  4993.8
6   부산 서구 서대신동1가    1548    44.9  4516.9
7     부산 수영구 수영동    1483    37.0  3497.8
8     부산 수영구 민락동    1471    42.0  6185.9
9     부산 금정구 장전동    1460    32.0  3756.2
10    부산 동래구 사직동    1388    45.7  3241.4
11     부산 남구 용호동    1334    38.2  1524.0
12     부산 남구 대연동    1310    57.2  3247.6
13    부산 동래구 복천동    1235    44.9  4516.9
14   부산 중구 보수동3가    1225    44.9  4516.9
15    부산 연제구 거제동    1205    73.5  4421.2
16    부산 연제구 연산동    1189    42.4  3669.7
17   부산 서구 충무동1가    1189    44.9  4516.9
18   부산 중구 부평동4가    1188    44.9  4516.9
19    부산 동래구 수안동    1186    44.9  4516.9
20   부산 해운대구 재송동    1160    28.5  2457.9
21   부산 서구 토성동1가    1150    44.9  4516.9
22    부산 수영구 광안동    1147    68.5  4052.0
23  부산 영도구 대교동1가    1127    44.9  4516.9
24    부산 해운대구 좌동    1120    37.5  3186.0
25  부산 서구 동대신동3가     670    38.5  1626.6
26  부산 영도구 영선동3가     670    38.5  1626.6
27     부산 금정구 서동     670    59.0  1827.3
28  부산 영도구 대교동2가     664    38.5  1626.6
29    부산 사상구 학장동     658    40.0  1308.5
30    부산 사하구 다대동     615    20.0  2767.0
31    부산 금정구 금사동     604    38.5  1626.6
32    부산 사하구 신평동     598    26.5   796.2
33   부산 서구 충무동2가     594    38.5  1626.6
34    부산 영도구 청학동     581    18.0  1303.4
35    부산 사하구 감천동     571    30.5  1133.2
36    부산 영도구 동삼동     569    25.0  1808.9
37    부산 사하구 장림동     559    33.0  1145.5
38     부산 중구 영주동     552    41.5  2200.0
39    부산 강서구 지사동     550    38.5  1626.6
40    부산 사상구 모라동     547    51.5  2127.0
41   부산 중구 대청동4가     518    38.5  1626.6
42   부산 해운대구 반송동     503    78.5  1475.6
43    부산 강서구 신호동     486    38.5  1626.6
44  부산 영도구 봉래동5가     439    38.5  1626.6
45   부산 서구 아미동2가     386    38.5  1626.6
46   부산 중구 부평동2가     283    38.5  1626.6
47  부산 영도구 봉래동3가     141    38.5  1626.6
48  부산 영도구 신선동2가     112    38.5  1626.6
49   부산 중구 보수동1가     105    38.5  1626.6

<h2>서울 및 부산 인구밀도(명/km^2) 및 재개발/재건축 이슈(건) 추가</h2>

In [220]:
df_dst = pd.read_excel('C:\density.xlsx')
df_iss = pd.read_excel('C:\issues.xlsx')
seoul = pd.merge(seoul, df_dst, on='지역', how='left')
seoul = pd.merge(seoul, df_iss, on='지역', how='left')
busan = pd.merge(busan, df_dst, on='지역', how='left')
busan = pd.merge(busan, df_iss, on='지역', how='left')

In [225]:
seoul['인구밀도'] = seoul['인구밀도'].astype(int)
seoul

              지역 평당가(만원)  혼잡빈도강도      통행량   인구밀도  재개발 이슈
0     서울 강남구 개포동    6556    74.0   2139.5   9804       9
1     서울 서초구 반포동    6403    56.8   9634.6  11872      14
2    서울 강남구 압구정동    6335    65.0  13260.7  10846       6
3     서울 서초구 잠원동    6167    70.0   6230.2  16211      22
4     서울 종로구 교북동    5852    66.0   7022.7  30383       0
5     서울 송파구 잠실동    5605    49.6   9855.5  30950       3
6     서울 강남구 일원동    5504    50.5   2041.4   9281       3
7     서울 강남구 수서동    5366    71.0   3884.2  10699       0
8     서울 종로구 홍파동    5254    66.0   7022.7  30383       0
9      서울 종로구 평동    5142    66.0   7022.7  30594       0
10    서울 용산구 신계동    5024    66.0   7022.7  28356       0
11    서울 강남구 삼성동    4952    66.0  13841.1  15750       3
12    서울 강남구 도곡동    4938    43.0   6760.7  27583       6
13   서울 용산구 서빙고동    4922    58.0   4341.7   5000       1
14    서울 강남구 청담동    4893    72.0  12483.4  11702       1
15    서울 마포구 아현동    4803    91.0   6205.5  34501       5
16  서울 성동구 성수동1가    4709    66.0   7022.7  11995       0
17  서울 용산구 용산동5가    4657    66.0   7022.7   7620       0
18    서울 마포구 용강동    4644    87.0   5459.1  26496       0
19    서울 강남구 자곡동    4611    66.0   7022.7   6993       0
20    서울 송파구 신천동    4608    66.0   7022.7  16165       3
21    서울 용산구 보광동    4569    63.0   2255.7  21875       2
22  서울 서대문구 북아현동    4545   100.0   8162.5  36861       6
23    서울 용산구 한남동    4532    31.0  10391.3   7894       2
24    서울 용산구 이촌동    4447    74.5   2438.9   8673      10
25    서울 금천구 시흥동    1697    45.8   2469.3  17533       0
26    서울 강서구 화곡동    1672    30.8   5740.8  35695       7
27    서울 종로구 신영동    1672    50.2   4345.8   4552       1
28    서울 은평구 신사동    1671    65.5   2305.8  27006       3
29    서울 구로구 개봉동    1662    36.3   4055.2  31150       4
30    서울 종로구 혜화동    1645    45.0  12933.0  17620       0
31     서울 강북구 번동    1645    40.3   4343.7  20958      11
32     서울 구로구 항동    1630    26.0   4345.8  11717       0
33    서울 광진구 중곡동    1605    80.2   4023.7  26913       2
34    서울 구로구 오류동    1545    70.5   2625.2  26008       3
35    서울 도봉구 도봉동    1543    34.0   4197.2  18070       2
36    서울 도봉구 방학동    1481    49.0   3221.4  26904       2
37    서울 은평구 갈현동    1464    77.0   3709.8  27288       2
38    서울 도봉구 쌍문동    1424    50.2   3806.0  33844       2
39    서울 강북구 수유동    1366    46.0   4887.3  27981       4
40   서울 구로구 가리봉동    1363    61.0   2407.4  35658       1
41    서울 강북구 우이동    1294    37.0   4612.1   2050       0
42    서울 은평구 역촌동    1288    71.0   3395.7  40465       1
43    서울 은평구 구산동    1284    56.0   2291.8  27288       1
44   서울 중구 장충동1가    1231    50.2   4345.8   4021       0
45    서울 성동구 사근동    1207    33.0   7199.1  12284       0
46    서울 종로구 행촌동    1174    50.2   4345.8  30383       0
47  서울 성북구 안암동3가    1131    50.2   4345.8  12466       0
48     서울 구로구 궁동    1031    50.2   4345.8   9100       3
49   서울 중구 장충동2가     853    50.2   4345.8   4091       0

In [226]:
busan['인구밀도'] = busan['인구밀도'].astype(int)
busan

              지역 평당가(만원)  혼잡빈도강도     통행량   인구밀도  재개발 이슈
0    부산 부산진구 범전동    2663    44.9  4516.9    529       3
1     부산 수영구 남천동    2177    52.5  4439.2   2587       4
2     부산 해운대구 우동    2019    40.3  9739.8   1639       4
3     부산 동래구 칠산동    1989    44.9  4516.9    653       1
4     부산 동래구 명륜동    1738    57.0  9340.4   1494       1
5     부산 해운대구 중동    1585    21.5  4993.8    840       1
6   부산 서구 서대신동1가    1548    44.9  4516.9    984       0
7     부산 수영구 수영동    1483    37.0  3497.8   1463       1
8     부산 수영구 민락동    1471    42.0  6185.9   2802       0
9     부산 금정구 장전동    1460    32.0  3756.2    744       0
10    부산 동래구 사직동    1388    45.7  3241.4   3427       2
11     부산 남구 용호동    1334    38.2  1524.0   3154       2
12     부산 남구 대연동    1310    57.2  3247.6   3657       6
13    부산 동래구 복천동    1235    44.9  4516.9    615       0
14   부산 중구 보수동3가    1225    44.9  4516.9   3668       0
15    부산 연제구 거제동    1205    73.5  4421.2  17293       3
16    부산 연제구 연산동    1189    42.4  3669.7  19298       4
17   부산 서구 충무동1가    1189    44.9  4516.9    747       0
18   부산 중구 부평동4가    1188    44.9  4516.9   1639       0
19    부산 동래구 수안동    1186    44.9  4516.9   1997       3
20   부산 해운대구 재송동    1160    28.5  2457.9   1246       3
21   부산 서구 토성동1가    1150    44.9  4516.9    749       0
22    부산 수영구 광안동    1147    68.5  4052.0   6625       3
23  부산 영도구 대교동1가    1127    44.9  4516.9  15438       0
24    부산 해운대구 좌동    1120    37.5  3186.0   1764       0
25  부산 서구 동대신동3가     670    38.5  1626.6    560       0
26  부산 영도구 영선동3가     670    38.5  1626.6  14122       0
27     부산 금정구 서동     670    59.0  1827.3    431       3
28  부산 영도구 대교동2가     664    38.5  1626.6  15322       0
29    부산 사상구 학장동     658    40.0  1308.5   5396       0
30    부산 사하구 다대동     615    20.0  2767.0   1699       1
31    부산 금정구 금사동     604    38.5  1626.6    133       0
32    부산 사하구 신평동     598    26.5   796.2    899       0
33   부산 서구 충무동2가     594    38.5  1626.6    745       0
34    부산 영도구 청학동     581    18.0  1303.4   9329       1
35    부산 사하구 감천동     571    30.5  1133.2    670       1
36    부산 영도구 동삼동     569    25.0  1808.9   7203       2
37    부산 사하구 장림동     559    33.0  1145.5    957       1
38     부산 중구 영주동     552    41.5  2200.0   4234       2
39    부산 강서구 지사동     550    38.5  1626.6    609       0
40    부산 사상구 모라동     547    51.5  2127.0  10191       0
41   부산 중구 대청동4가     518    38.5  1626.6   2200       0
42   부산 해운대구 반송동     503    78.5  1475.6    765       0
43    부산 강서구 신호동     486    38.5  1626.6    639       0
44  부산 영도구 봉래동5가     439    38.5  1626.6   8233       0
45   부산 서구 아미동2가     386    38.5  1626.6    509       0
46   부산 중구 부평동2가     283    38.5  1626.6   1626       0
47  부산 영도구 봉래동3가     141    38.5  1626.6  24670       0
48  부산 영도구 신선동2가     112    38.5  1626.6   8156       0
49   부산 중구 보수동1가     105    38.5  1626.6   3641       1